@media screen and (min-width: 992px) {
  .bookservice-time {
    border-style: solid;
    border-color: #6759ff;
    border-width: 1px;
    border-radius: 5px;
    background-color: transparent;
    color: #6759ff;
    font-family: "Courier New", Courier, monospace;
    font-size: 0.9vw;
    font-weight: bolder;
    height: 50%;
  }
  .bookservice-time:hover {
    border-style: solid;
    border-color: #6759ff;
    border-width: 1px;
    border-radius: 5px;
    background-color: #6759ff;
    color: #fff;
    font-family: "Courier New", Courier, monospace;
    font-size: 0.9vw;
    font-weight: bold;
    height: 60%;
  }
  .selected-time {
    border-style: solid;
    border-color: #6759ff;
    border-width: 1px;
    border-radius: 5px;
    background-color: #6759ff;
    color: #fff;
    font-family: "Courier New", Courier, monospace;
    font-size: 1vw;
    font-weight: bold;
    height: 60%;
  }
  .bookservice-pickup {
    font-family: "Courier New", Courier, monospace;
    font-size: 0.9vw;
    position: absolute;
    color: #6759ff;
    font-weight: bold;
    margin: 0px;
    left: 7.5%;
    top: 67%;
  }
  .where-head {
    font-family: sans-serif;
    font-size: 1.8vw;
    align-self: center;
    font-weight: bold;
    color: #6759ff;
    margin-bottom: 0;
  }
  .where-titles {
    font-size: 1vw;
    font-family: sans-serif;
    margin-bottom: 0.5%;
    margin-top: 2%;
  }
  .where-button {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 1.2vw;
    width: 80%;
    border-width: 0px;
    background-color: #6759ff;
    color: #fff;
    border-radius: 5px;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  .calender {
    width: 100%;
    font-size: 1vw;
    align-self: center;
    text-decoration: none;
    border-width: 0px !important;
  }
  .react-calendar__tile {
    font-size: 0.9vw !important;
    border-radius: 10px;
  }
  .react-calendar__month-view__days__day {
    font-size: 0.9vw !important;
  }
}

@media screen and (max-width: 576px) {
  .bookservice-time {
    border-style: solid;
    border-color: #6759ff;
    border-width: 1px;
    border-radius: 2px;
    background-color: transparent;
    color: #6759ff;
    font-family: "Courier New", Courier, monospace;
    font-size: 3.2vw;
    font-weight: bold;
    height: 60%;
    margin-top: 2.5%;
    padding-top: 1%;
  }

  .selected-time {
    border-style: solid;
    border-color: #6759ff;
    border-width: 1px;
    border-radius: 2px;
    background-color: #6759ff;
    color: #fff;
    font-family: "Courier New", Courier, monospace;
    font-size: 3.2vw;
    font-weight: bold;
    height: 60%;
    margin-top: 2.5%;
    padding-top: 1%;
  }

  .bookservice-pickup {
    font-family: "Courier New", Courier, monospace;
    font-size: 2vw;
    position: absolute;
    color: #6759ff;
    font-weight: bold;
    margin: 0px;
    left: 3.5%;
    top: 79%;
  }

  .where-head {
    font-family: sans-serif;
    font-size: 4vw;
    align-self: center;
    font-weight: bold;
    color: #6759ff;
    margin-bottom: 0;
  }
  .where-titles {
    font-size: 3vw;
    font-family: sans-serif;
    margin-bottom: 2%;
    margin-top: 2%;
    align-self: flex-start;
    margin-left: 6%;
  }
  .where-button {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 4vw;
    width: 80%;
    border-width: 0px;
    background-color: #6759ff;
    color: #fff;
    border-radius: 5px;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .calender {
    width: 100%;
    font-size: 3vw;
    align-self: center;
    text-decoration: none;
    border-width: 0px !important;
  }
  .react-calendar__tile {
    font-size: 2.5vw !important;
    border-radius: 10px;
  }
  .react-calendar__month-view__days__day {
    font-size: 2.5vw !important;
  }
}
